body,html{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin:0;
  padding: 0;
}
body{
  background-image: linear-gradient(-45deg, #27AAE1 50%, #E74A99 50%);
}
#root{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

#root .MultiStack-root{
  min-width: 100%;
}

@keyframes logoAppear {
  0% {
    opacity: 0;
    transform: rotate(30deg);
  }

  18% {
    transform: rotate(-20deg);
  }

  50% {
    transform: rotate(15deg);
  }

  68% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
    opacity: 1;
  }
}

@keyframes potionAppear {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}